<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zjmainstay.generate_password</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>ABD1AB33-4DC7-4ABB-835C-30369BBC9B1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA3C87A8-148E-411B-BC1F-9A4FF88837D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zjmainstay</string>
	<key>description</key>
	<string>Generate Password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Generate Password</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>generatepassword</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在生成...</string>
				<key>script</key>
				<string>require 'GeneratePassword.php';

$GeneratePassword = new GeneratePassword('{query}');
$GeneratePassword-&gt;show();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Params: length=32&amp;type=number-lower-upper&amp;splitChar=_&amp;splitLength=4&amp;times=5</string>
				<key>title</key>
				<string>密码生成器</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABD1AB33-4DC7-4ABB-835C-30369BBC9B1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BA3C87A8-148E-411B-BC1F-9A4FF88837D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A PHPer.</string>
	<key>uidata</key>
	<dict>
		<key>ABD1AB33-4DC7-4ABB-835C-30369BBC9B1B</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>BA3C87A8-148E-411B-BC1F-9A4FF88837D7</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.zjmainstay.cn</string>
</dict>
</plist>
